.activities-list {
  position: relative;
  top: -36px;
  margin-right: 19px;

  @include vp-1199 {
    top: -22px;
    margin-right: 24px;
  }

  @include vp-767 {
    top: -31px;
    margin: 0;
  }
}

.activities-list__item {
  width: 114px;
  font-size: 14px;
  line-height: 21px;
  text-align: end;
  color: $color-default-white;
}
