.benefits-list {
  display: grid;
  grid-template-columns: auto 240px auto;
  gap: 167px 60px;
  width: 100%;
  padding: 0 12px 0 19px;
  overflow-y: hidden;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 52px;
    padding: 0;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}

.benefits-list__item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 72px auto;
  gap: 0;
  width: 100%;
  max-width: 329px;

  @include vp-1199 {
    grid-template-columns: min-content auto;
    grid-template-rows: 45px auto;
    max-width: initial;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 46px 0 47px;
    text-align: center;
  }

  &--main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: 240px;
    min-width: auto;
    max-width: initial;
    padding: 65px 34px;
    text-align: center;
    background-color: #1c3374;

    &::after {
      display: none;
    }

    @include vp-1199 {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      width: clamp(442px, 65.19%, 800px);
      margin: 0 auto;
      padding: 45px;
    }

    @include vp-767 {
      grid-column: initial;
      grid-row: initial;
      width: 100%;
      padding: 50px 27px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -83px;
    width: 100%;
    height: 2px;
    background-color: rgba(209, 10, 66, 0.2);

    @include vp-1199 {
      display: none;
    }
  }
}

.benefits-list__number {
  display: block;
  width: min-content;
  height: max-content;
  margin-right: 30px;
  font-weight: 700;
  font-size: 71px;
  line-height: 60px;
  background: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @include vp-1199 {
    margin-right: 29px;
    font-size: 58px;
    line-height: 45px;
  }

  @include vp-767 {
    margin: 0;
    margin-bottom: 10px;
  }

  &--main {
    margin-bottom: 25px;
    margin-right: 0;
    font-size: 74px;
    line-height: 70px;
    color: $color-default-white;
    -webkit-text-fill-color: initial;

    @include vp-1199 {
      margin-bottom: 10px;
    }

    @include vp-767 {
      margin-bottom: 5px;
    }
  }
}

.benefits-list__unit {
  position: relative;
  top: -10px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: block;
  max-width: 50px;
  font-size: 14px;
  line-height: 21px;
  color: #2e35ac;

  @include vp-1199 {
    top: 0;
  }

  @include vp-767 {
    margin-bottom: 10px;
  }
}

.benefits-list__article {
  flex-grow: 1;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.benefits-list__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: $color-default-dark;

  @include vp-1199 {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 30px;
  }

  &--main {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: $color-default-white;

    @include vp-1199 {
      margin-bottom: 30px;
      font-size: 22px;
      line-height: 33px;
    }

    @include vp-767 {
      margin-bottom: 10px;
    }
  }
}

.benefits-list__text {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-dark;

  &--main {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color-default-white;

    @include vp-1199 {
      width: clamp(172px, 38.91%, 800px);
    }

    @include vp-767 {
      width: 100%;
    }
  }
}
