.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;

  @include vp-1199 {
    column-gap: 60px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    column-gap: 30px;
  }
}

.form__field {
  position: relative;
  display: block;

  input {
    width: 100%;
    height: 30px;
    padding: 10px 10px 10px 0;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
    background: inherit;
    border: none;
    border-bottom: 1px solid #74819c;

    &::placeholder {
      color: $color-default-white;
    }

    @include hover-focus {
      border-bottom: 1px solid $color-default-white;
      outline: none;
    }

    &:focus:required:invalid {
      border-bottom: 1px solid $color-red;
    }
  }
}

.form__button {
  grid-column: 1/-1;
  width: 100%;
  min-height: 52px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  border: 3px solid $color-default-white;
  background-color: inherit;
  cursor: pointer;

  @include vp-767 {
    margin-top: 10px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__error {
  position: absolute;
  bottom: -15px;
  left: 0;
  font-size: 10px;
  line-height: 11px;
  color: $color-default-white;
}
