.free-traininig {
  background-color: $color-default-dark;
}

.free-traininig__wrapper {
  width: 410px;
  color: #ffffff;

  @include vp-1199 {
    min-width: $vr-678;
    width: 88.28%;
    min-height: 300px;
    margin: 0 auto;
    padding: 70px 118px 70px 88px;
  }

  @include vp-767 {
    min-width: $vr-290;
    width: 90.62%;
    min-height: 380px;
    padding: 70px 0;
  }

  h2 {
    margin: 0;
    margin-bottom: 14px;
    font-family: $ff-alumni;
    font-weight: 800;
    font-size: 54px;
    line-height: 84px;
    letter-spacing: 0.03em;

    @include vp-1199 {
      margin-bottom: 40px;
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
    }
  }
}
