.main-footer {
  background-color: #030a1a;
}

.main-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 84.92%;
  max-width: $vr-1160;
  min-height: 108px;
  margin: 0 auto;
  padding: 41px 0;

  @include vp-1199 {
    min-width: $vr-678;
    width: 88.28%;
    min-height: 114px;
    padding: 45px 0;
  }

  @include vp-767 {
    flex-direction: column;
    min-width: $vr-290;
    width: 90.62%;
    padding: 50px 0;
  }
}

.main-footer__logo {
  position: relative;
  top: 8px;
  min-width: max-content;
  margin-right: 40px;

  @include vp-1199 {
    top: 2px;
    width: 82px;
    height: 18px;
  }

  @include vp-767 {
    left: -9px;
    width: 68px;
    height: 15px;
  }

  img {
    @include vp-767 {
      height: 13px;
    }
  }
}
