.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 448px;
  padding: 61px 10px;
  border: 7px solid #ffffff;
  background-color: #ffffff;
  box-sizing: border-box;

  @include vp-767 {
    padding: 48px 10px;
  }

  &:hover,
  &:focus-within {
    border: 7px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);

    .option__button {
      color: #ffffff;
      background-image: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
      border: none;
    }
  }
}

.option__title {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  color: $color-default-dark;

  @include vp-767 {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 24px;
  }
}

.option__time-period {
  margin: 0;
  margin-bottom: 96px;
  font-size: 16px;
  line-height: 24px;
  color: #495a7d;

  @include vp-767 {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
  }
}

.option__price {
  position: relative;
  z-index: 5;
  display: block;
  margin: 0;
  margin-right: 16px;
  margin-bottom: 59px;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  background-color: #ffffff;
  color: #103aae;

  @include vp-767 {
    margin-right: 10px;
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 72px;

    svg {
      width: 24px;
      height: 33px;
    }
  }

  &::after {
    content: attr(data-price);
    position: absolute;
    top: -57px;
    left: -19px;
    z-index: -11;
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    color: #e8e8e8;
    opacity: 0.48;

    @include vp-767 {
      top: -57px;
      left: -17px;
      font-size: 80px;
      line-height: 120px;
    }
  }
}

.option__button {
  display: block;
  width: 206px;
  min-height: 64px;
  padding: 27px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $color-default-dark;
  background-color: inherit;
  border: 2px solid $color-default-dark;

  @include vp-1199 {
    width: 46.6%;
    min-width: 206px;
  }

  @include vp-767 {
    width: 71%;
    padding: 27px 10px;
    font-size: 16px;
    line-height: 24px;
  }
}
