.social-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 97px;
  width: 100px;
  margin-left: 40px;

  @include vp-767 {
    margin: 0;
  }
}

.social-list__item {
  margin-right: 11px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}
