.special-offer {
  display: flex;
  height: 100%;

  @include vp-767 {
    flex-direction: column;
    width: 100%;
  }
}

.special-offer__image {
  width: clamp(90px, 50%, 280px);
  aspect-ratio: 1 / 1.65;
  overflow: hidden;
  background-color: green;

    @include vp-1199 {
      width: clamp(90px, 58.8%, 900px);
      aspect-ratio: 1 / 1.16;
    }

    @include vp-767 {
      width: 100%;
      aspect-ratio: 1/1.03;
    }

  img {
    position: relative;
    top: -19%;
    height: 100%;
    object-fit: cover;
    object-position: 20px;
    transform: scale(1.4);
    aspect-ratio: 1 / 1.65;

    @include vp-1199 {
      height: initial;
      width: 100%;
      top: -31%;
      transform: scale(1.2);
      object-position: 25px;
      aspect-ratio:  1 / 1.5;
    }

    @include vp-767 {
      top: -37%;
      left: 8%;
      height: initial;
      transform: scale(1.18);
      object-position: 0;
      aspect-ratio: initial;
    }
  }
}

.special-offer__article {
  display: flex;
  flex-direction: column;
  width: clamp(90px, 50%, 280px);
  min-height: 100%;
  padding: 45px;
  padding-top: 33px;
  color: $color-default-white;
  background-color: #ed0233;

  @include vp-1199 {
    width: clamp(279px, 41.15%, 800px);
    padding-bottom: 49px;
  }

  @include vp-767 {
    align-items: center;
    width: 100%;
    min-height: max-content;
    padding: 35px;
    text-align: center;
  }
}

.special-offer__period {
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
}

.special-offer__cost {
  position: relative;
  top: -7px;
  margin: 0;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  word-break: break-all;

  @include vp-1199 {
    top: -10px;
    margin-bottom: 4px;
  }

  @include vp-767 {
    margin-bottom: 0;
  }
}

.special-offer__text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 25px;

  @include vp-767 {
    margin-bottom: 40px;
  }
}

.special-offer__link {
  position: relative;
  display: block;
  margin-top: auto;
  margin-right: auto;
  padding-top: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: inherit;

  @include vp-767 {
    position: relative;
    top: -11px;
    margin-left: auto;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }


  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-default-white;
  }
}
