.subscriptions {
  background-color: #f8f9fc;
  margin-bottom: 120px;

  @include vp-1199 {
    position: relative;
    z-index: 10;
    margin-bottom: 99px;
  }

  @include vp-767 {
    margin-bottom: 70px;
  }

  &::after {
    content: attr(data-price);
    position: absolute;
    top: 1320px;
    right: calc(50% - 791px);
    z-index: 1;
    display: block;
    width: 321px;
    height: 384px;
    transform: rotate(150deg);
    background-image: url("../img/discs@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    @include retina {
      background-image: url("../img/discs@2x.png");
    }

    @include vp-1199 {
      top: 1509px;
      right: -1%;
      width: 289px;
      height: 345px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.subscriptions__wrapper {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 84.92%;
  max-width: $vr-1160;
  min-height: 851px;
  margin: 0 auto;
  padding: 120px 0;
  padding-bottom: 80px;

  @include vp-1199 {
    min-width: $vr-678;
    width: 88.28%;
    min-height: 1779px;
    padding: 100px 118px;
    padding-bottom: 60px;
  }

  @include vp-767 {
    min-width: $vr-290;
    width: 90.62%;
    min-height: 1487px;
    padding: 64px 0;
    padding-bottom: 32px;
  }

  h2 {
    margin: 0;
    margin-bottom: 16px;
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    color: $color-default-dark;

    @include vp-1199 {
      position: relative;
      left: -7px;
      margin-bottom: 20px;
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      margin-bottom: 21px;
      font-size: 32px;
      line-height: 38px;
    }
  }
}
