.tabs-list {
  display: flex;
  margin-bottom: 40px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @include vp-1199 {
    margin-bottom: 45px;
  }

  @include vp-767 {
    min-width: 290px;
    margin-bottom: 35px;
  }
}

.tabs-list__item {
  margin-right: 46px;

  &:last-child {
    margin-right: 0;
  }

  @include vp-1199 {
    margin-right: 54px;
  }

  @include vp-767 {
    margin-right: 45px;
  }
}

.tabs-list__button {
  position: relative;
  padding: 0;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(16, 38, 84, 0.5);
  background-color: inherit;
  border: none;
  cursor: pointer;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
  }

  &--active {
    color: $color-default-dark;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color-red;
    }
  }

  &:hover {
    color: $color-default-dark;
  }

  &:active {
    opacity: 0.8;
  }
}
