.trainers__wrapper {
  position: relative;
  width: 84.92%;
  max-width: $vr-1160;
  min-height: 554px;
  margin: 0 auto;
  padding: 56px 0 91px 0;

  &--with-js {
    width: 93.11%;
    max-width: 1272px;
    padding: 56px 56px 91px 56px;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -15px;
      z-index: 3;
      width: 40px;
      height: 100%;
      background-color: $color-default-white;

      @include vp-1199 {
        left: -10px;
      }

      @include vp-767 {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -15px;
      z-index: 3;
      width: 40px;
      height: 100%;
      background-color: $color-default-white;

      @include vp-1199 {
        right: -10px;
      }

      @include vp-767 {
        display: none;
      }
    }
  }

  @include vp-1199 {
    min-width: $vr-678;
    width: 88.28%;
    min-height: 526px;
    padding: 50px 56px 100px 56px;
  }

  @include vp-767 {
    min-width: $vr-290;
    width: 90.62%;
    min-height: 400px;
    padding: 24px 32px 70px 32px;
  }

  h2 {
    margin: 0;
    margin-bottom: 48px;
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    color: $color-default-dark;

    @include vp-1199 {
      position: relative;
      left: -4px;
      margin-bottom: 31px;
      font-size: 42px;
      line-height: 50px;
      text-align: center;
    }

    @include vp-767 {
      margin-bottom: 41px;
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.trainers__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  width: 100%;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }

  &--with-js {
    display: flex;
    gap: 0;

    @include vp-1199 {
      gap: 0;
    }
  }
}

.trainers__list-item {
  display: grid;
  width: 100%;
  aspect-ratio: 1 / 1.13;

  @include vp-1199 {
    aspect-ratio: 1 / 1.1;
  }

  @include vp-767 {
    aspect-ratio: 1 / 1.21;
  }

  &--with-js {
    width: 500px;

    @include vp-1199 {
      width: 50%;
    }

    @include vp-767 {
      width: 100%;
    }
  }

  &:hover {
    .trainers__card {
      z-index: 10;
    }
  }

  &:focus-within {
    .trainers__card {
      z-index: 10;
    }
  }
}

.trainers__card-title,
.trainers__card {
  grid-column: 1/2;
  grid-row: 1/2;
}

.trainers__card-title {
  z-index: 5;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;
  background-color: #c1c7d2;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;


  @include vp-1199 {
    padding: 22px;
  }

  &--ann {
    background-image: url("../img/swiper-images/swiper-image1@1x.jpg");

    @include retina {
      background-image: url("../img/swiper-images/swiper-image1@2x.jpg");
    }
  }

  &--alexey {
    background-image: url("../img/swiper-images/swiper-image2@1x.jpg");

    @include retina {
      background-image: url("../img/swiper-images/swiper-image2@2x.jpg");
    }
  }

  &--alexandr {
    background-image: url("../img/swiper-images/swiper-image3@1x.jpg");

    @include retina {
      background-image: url("../img/swiper-images/swiper-image3@2x.jpg");
    }
  }

  &--mary {
    background-image: url("../img/swiper-images/swiper-image4@1x.jpg");

    @include retina {
      background-image: url("../img/swiper-images/swiper-image4@2x.jpg");
    }
  }
}

.trainers__card {
  z-index: -1;
  width: 100%;
  height: 100%;
}

.trainers__slider-button {
  position: absolute;
  z-index: 5;
  display: none;
  width: 16px;
  height: 32px;
  background-image: url("../img/svg/swiper-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-color: inherit;
  border: none;
  cursor: pointer;

  @include vp-767 {
    width: 10px;
    height: 19px;
    background-size: contain;
  }

  &--prev {
    top: 54%;
    left: 0;
    transform: rotate(180deg);

    @include vp-1199 {
      top: 50%;
    }

    @include vp-767 {
      top: 51.8%;
    }
  }

  &--next {
    top: 54%;
    right: 0;

    @include vp-1199 {
      top: 50%;
    }

    @include vp-767 {
      top: 51.8%;
    }
  }

  &--with-js {
    display: block;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
